@charset "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
.maintytle {
	
	font-family: "Kiwi Maru";
	
	padding: 20px;
		
}

#button{
	margin-top: 10px;
	margin-bottom: 10px;
}

#mokuji{
	margin-top:20px;
}

.second{
	margin: 20px;
}

.first{
	padding-right: 300px;
	padding-left: 300px;
}

.input1{
	margin-top: 20px;
	font-family: "Kiwi Maru"
}
.contents{
	display: flex;
}

.l{
	margin-top: 28px;
}